pandas
evidently==0.4.15
numpy==1.26.4

matplotlib
seaborn
scikit-learn
scipy
statsmodels
dataclasses
xgboost
ipykernel
plotly
imblearn
catboost
pymysql
dvc
PyYAML
certifi
pydantic==1.10.13
dill
python-multipart
cryptography
pymysql[crypto]
from_root

-e .
