pandas
numpy
matplotlib
seaborn
scikit-learn
scipy
statsmodels
dataclasses
xgboost
ipykernel
plotly
imblearn
catboost
pymysql
dvc
PyYAML
pymysql
python-multipart
cryptography
pymysql[crypto]
from_root

-e .
